@font-face {
  font-family: "Lucida Console";
  src: url('./assets/fonts/lucon.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

* {
  font-family: montserrat, Arial, Helvetica, sans-serif;
  scrollbar-color: rgb(78, 78, 78) black;
  scroll-behavior: smooth;
  /* transition: 0.15s; */
  /* scrollbar-gutter: 100px; */
  /* scrollbar-gutter: stable; */
  /* scroll-behavior: smooth; */
}

::selection {
  background: rgba(255, 255, 255, 1);
  color: black;
}

.intro-big::selection {
  color: rgb(255, 50, 50);
}

body {
  /* overflow: hidden; */
  /* background: rgb(0,15,15); */
  /* background-size: 100%; */
  background-color: #000F0F;
  background: radial-gradient(circle, rgba(7, 15, 15, 1) 10%, rgb(22, 44, 44) 300%);
  margin: 0;
  padding: 0;
}

.works-container {
  position: absolute;
  /* border: 1px solid white; */
  padding: 32px 32px 32px 32px;
  display: flex;
  flex-direction: column;
  /* max-width: 50%; */
  width: 50%;
  margin: 0 auto;
  right: 0;
}

.credits-section {
  line-height: 1.4;
  text-align: center;
  color: gray;
  margin-top: 512px;
}

.info-container {
  position: fixed;
  /* border: 1px solid white; */
  margin: 0 auto;
  padding: 32px;
  display: flex;
  flex-direction: column;
  max-width: 50%;
  height: 90%;
}

.info-container>div:last-of-type {
  margin-top: auto;
}

.works-list {
  display: flex;
  flex-wrap: wrap;
  gap: 24px;
  padding: 24px 0;
}

.works-card {
  display: flex;
  flex-direction: column;
  position: relative;
  max-width: 30%;
  /* width: 100%; */
  /* display: inline-block; */
  background-color: rgb(12, 18, 18);
  box-shadow: 0 4px 16px rgb(0 0 0 / 20%);
  border: 1px solid rgb(42, 42, 42);
  padding: 32px 96px 32px 32px;
  border-radius: 8px 8px 32px 8px;
  transition: .15s;
  background-size: cover;
}

.works-card>div:last-of-type {
  margin-top: auto;
}

.works-card:hover {
  transform: translateY(-4px);
  background-color: rgb(18, 24, 24);
  border: 1px solid rgb(60, 60, 60);
  transition: .15s;
}

.works-title {
  text-overflow: ellipsis;
  font-size: 32px;
  font-weight: bold;
  margin-bottom: 16px;
  cursor: default;
}

.works-subtitle {
  cursor: default;
  line-height: 1.4;
  color: gray;
  margin-bottom: 48px;
}

.works-cta {
  display: flex;
  align-items: center;
  /* position:absolute; */
  bottom: 0;
  cursor: pointer;
  color: gray;
  color: rgb(70, 120, 120);
  line-height: 1.5;
  width: max-content;
}

.white-cta {
  color: gray;
}

.works-cta:hover {
  color: rgb(100, 200, 200);
}

.works-cta>svg {
  fill: rgb(70, 120, 120);
}

.works-cta:hover>svg {
  fill: rgb(100, 200, 200);
}

.white-cta:hover {
  color: white;
}

.white-cta>svg {
  fill: gray;
}

.white-cta:hover>svg {
  fill: white;
}

.works-cta-container {
  position: absolute;
  bottom: 0;
  padding-top: 42px;
  margin-bottom: 32px;
}

.works-card>a {
  text-decoration: none;
  line-height: 2;
}

.main-container {
  padding: 32px;
  display: flex;
  color: white;
}

.navigation-container {
  margin: 32px 0;
  width: 30%;
}

.navigation-item {
  font-family: "Lucida Console";
  /* border: 1px solid white; */
  font-size: 16px;
  width: max-content;
  cursor: pointer;
  position: relative;
  margin: 8px 0;
  color: rgb(90, 90, 90);
  transition: 0.15s;
  line-height: 2;
}

.navigation-link {
  text-decoration: none;
}

.navigation-link_container:hover .navigation-item, .navigation-item.active {
  transform: translateX(18px);
  transition: 0.15s;
  color: black;
  /* width: 100%; */
}

.navigation-item::before {
  font-weight: bold;
  font-size: 14px;
  content: "#";
  color: rgb(150, 150, 150);
  margin-right: 4px;
}

.navigation-link_container:hover .navigation-item::before, .navigation-item.active::before {
  content: "//";
  color: rgb(150, 150, 150);
  transform: translateX(8px);
}

.navigation-item::after {
  z-index: -1;
  position: absolute;
  content: '';
  height: 100%;
  background-color: rgba(255, 255, 255, 1);
  bottom: 0;
  transition: 0.15s;
  transform: scaleX(0);
  margin-left: -2px;
  left: 0;
}

.navigation-link_container:hover .navigation-item::after, .navigation-item.active::after {
  width: 100%;
  padding: 0 4px;
  transition: 0.15s;
  transform: scaleX(1);
}

.contact-container {
  /* position: absolute;
  bottom: 0; */
  /* padding-bottom: 32px; */
  color: gray;
  width: max-content;
  position: relative;
  padding-bottom: 16px;
}

.email-link {
  width: max-content;
  color: gray;
  text-decoration: none;
  stroke: gray;
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 8px;
  transition: 0.15s;
  cursor: pointer;
  user-select: none;
}

.email-link:hover {
  transition: 0.15s;
  /* transform: translateX(28px); */
  color: white;
}

.email-clicked {
  color: rgba(0, 0, 0, 0);
}

.email-clicked::before {
  font-family: "Lucida Console";
  font-size: 14px;
  color: gray;
  animation: clicked 0.15s ease-in-out forwards;
  transform-origin: left center;
  padding-left: 18px;
  padding-right: 14px;
  content: '> Copied to clipboard! <';
  line-height: 2;
  width: 100%;
  background-color: white;
  position: absolute;
}

.email-clicked:hover {
  color: rgba(0, 0, 0, 0);
}

@keyframes clicked {
  from {
    transform: scaleX(0) translateX(0);
  }

  to {
    transform: scaleX(1) translateX(16px);
  }
}

/* .email-link::after
{
  content: '';
  transform: translateX(12px) scaleX(0);
  transition: 0.15s;
}

.email-link:hover::after
{
  transition: 0.15s;
  position: absolute;
  content: url("./assets/icon_copy.svg");
  transform: translateX(-28px) scaleX(1);
} */

.intro-container {
  width: 80%;
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.intro-header {
  text-align: justify;
  line-height: 1;
  font-weight: 400;
  font-size: 38px;
}

.intro-big {
  font-size: 64px;
  font-weight: 1000;
}

.intro-paragraph {
  padding-right: 32px;
  text-align: left;
  line-height: 1.6;
  color: gray
}

.works-section {
  width: 100%;
  margin-bottom: 32px;
  scroll-margin-top: 32px;
  /* padding-top: 12px; */
}

.active-section {
  color: white;
}

.section-title {
  font-family: "Lucida Console";
  color: gray;
  font-size: 24px;
  font-weight: bold;
  border-bottom: 1px solid gray;
  padding-bottom: 8px;
  line-height: 1.5;
}

.link {
  text-decoration: underline;
  color: inherit;
  font-weight: bold;
}

.link:hover {
  /* text-decoration: underline; */
  color: rgb(192, 192, 192);
}

.viewer-container {
  display: none;
  z-index: 1;
  background-color: rgba(0, 0, 0, .8);
  position: fixed;
  color: white;
  width: 100%;
  height: 100%;
}

.viewer-content {
  position: absolute;
  background-color: gray;
  margin: 32px;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

.noscroll {
  overflow: hidden;
}

.visible {
  transition: 0.5s;
  display: block;
}

@media screen and (max-width: 1434px) {
  .works-card {
    max-width: 100%;
    width: 100%;
  }
}

@media screen and (max-width: 960px) {
  body {
    background: radial-gradient(circle, rgba(0, 15, 15, 1) 10%, rgb(0, 64, 64) 600%);
  }

  .main-container {
    justify-content: center;
    padding: 0 16px;
    flex-direction: column;
  }

  .info-container {
    position: static;
    max-width: 100%;
    height: max-content;
    /* background-color: #000F0F; */
  }

  .navigation-container {
    display: none;
  }

  .contact-container {
    /* position: static; */
    /* margin-top: 160px; */
    padding: 0;
    padding-top: 32px;
  }

  .works-container {
    position: static;
    width: fit-content;
    overflow: hidden;
    margin: 0;
  }

  .works-card {
    width: 100%;
    max-width: 100%;
    margin-bottom: 24px;
  }

  .works-list {
    gap: 0;
  }
}

@media screen and (max-width: 475px) {
  .intro-paragraph {
    width: 100%;
    padding: 0;
  }

  .intro-header {
    font-size: 28px;
  }

  .intro-big {
    font-size: 52px;
  }

  .info-container,
  .works-container,
  .main-container {
    padding: 8px 8px 32px 8px;
  }

  .works-card {
    padding: 16px 16px 16px 24px;
  }

  .works-title {
    font-size: 28px;
  }

  .credits-section {
    margin-top: 16px;
  }
}
