*
{
  font-family: montserrat, Arial, Helvetica, sans-serif;
  scrollbar-color: rgb(78, 78, 78) black;
  scrollbar-gutter: 100px;
  
}

::selection
{
  background: rgba(255, 255, 255, 1);
  color: black;
}

.intro-big::selection
{
  color: rgb(255, 50, 50);
}

body
{
  /* background: rgb(0,15,15); */
  /* background-size: 100%; */
  background-color: #000F0F;
  margin:0;
  padding:0;
}

.works-container
{
  position: absolute;
  /* border: 1px solid white; */
  padding: 32px 32px 32px 32px;
  display: flex;
  flex-direction: column;
  /* max-width: 50%; */ 
  width: 50%;
  margin: 0 auto;
  right:0;
}

.credits-section
{
  text-align: center;
  color: gray;
  margin-top:512px;
}

.info-container
{
  position: fixed;
  /* border: 1px solid white; */
  margin: 0 auto;
  padding: 32px;
  display: flex;
  flex-direction: column;
  max-width: 50%;
  height: 90%;
}

.info-container>div:last-of-type
{
  margin-top: auto  ;
}

.works-list
{
  display: flex;
  flex-wrap: wrap;
  gap:24px;
  padding:24px 0;
}

.works-card
{
  display: flex;
  flex-direction: column;
  position: relative;
  max-width: 30%;
  /* width: 100%; */
  /* display: inline-block; */
  background-color: rgb(12, 18, 18);
  border: 1px solid rgb(42, 42, 42);
  padding: 32px 96px 32px 32px;
  border-radius: 8px 8px 32px 8px;
  transition: .15s;
  background-size: cover;
}

.works-card>div:last-of-type
{
  margin-top: auto;
}

.works-card:hover
{
  transform: translateY(-4px);
  background-color: rgb(18, 24, 24);
  border: 1px solid rgb(60, 60, 60);
  transition: .15s;
}

.works-title
{
  text-overflow: ellipsis;
  font-size: 32px;
  font-weight: bold;
  margin-bottom: 16px;
}

.works-subtitle
{
  line-height: 1.4;
  color: gray;
  margin-bottom: 48px;
}

.works-cta
{
  display: flex;
  align-items: center;
  /* position:absolute; */
  bottom: 0;
  cursor: pointer;
  color: gray;
  color: rgb(70, 120, 120);
  line-height: 1.4;
}

.white-cta
{
  color: gray;
}

.works-cta:hover
{
  color: rgb(100, 200, 200);
}

.works-cta>svg
{
  fill: rgb(70, 120, 120);
}

.works-cta:hover>svg
{
  fill: rgb(100, 200, 200);
}

.white-cta:hover
{
  color:white;
}

.white-cta>svg
{
  fill: gray;
}

.white-cta:hover>svg
{
  fill: white;
}

.works-cta-container
{
  position: absolute;
  bottom: 0;
  padding-top:42px;
  margin-bottom: 32px;
}

.works-card>a
{
  text-decoration: none;
  line-height: 2;
}

.main-container 
{
  height: 100%;
  padding: 32px;
  display: flex;
  color: white;
}

.navigation-container
{
  margin: 32px 0;
  width: 30%;
}

.navigation-item
{
  font-family: monospace;
  /* border: 1px solid white; */
  font-size: 16px;
  width: max-content;
  cursor: pointer;
  position: relative;
  margin: 8px 0;
  color:rgb(90, 90, 90);
  transition: 0.15s;
  line-height: 2;
}

.navigation-link
{
  text-decoration: none;
}

.navigation-item:hover
{
  transform: translateX(18px);
  transition: 0.15s;
  color: black;
  /* width: 100%; */
}

.navigation-item::before
{
  font-weight: bold;
  font-size: 14px;
  content: "#";
  color:rgb(150, 150, 150);
  margin-right: 4px;
}

.navigation-item:hover::before
{
  content: "//";
  color:rgb(150, 150, 150);
  transform: translateX(8px);
  /* right:0; */
}

.navigation-item::after
{
  z-index: -1;
  position: absolute;
  content: '';
  height: 100%;
  background-color: rgba(255, 255, 255, 1);
  bottom: 0;
  transition: 0.15s;
  transform: scaleX(0);
  margin-left: -2px;
  left:0;
}

.navigation-item:hover::after
{
  width: 100%;
  padding: 0 4px;
  transition: 0.15s;
  transform: scaleX(1);
}

.contact-container
{
  /* position: absolute;
  bottom: 0; */
  /* padding-bottom: 32px; */
  color: gray;
}

.email-link
{
  width: 100%;
  color: gray;
  text-decoration: none;
  stroke: gray;
  display: flex;
  flex-direction: row;
  align-items: center;  
  gap: 8px;
  transition: 0.15s;
  /* cursor: pointer; */
}

/* .email-link::after
{
  content: '';
  transform: translateX(12px) scaleX(0);
  transition: 0.15s;
}

.email-link:hover::after
{
  transition: 0.15s;
  position: absolute;
  content: url("./assets/icon_copy.svg");
  transform: translateX(-28px) scaleX(1);
} */

.email-link:hover
{
  transition: 0.15s;
  /* transform: translateX(28px); */
  color: white;
}

.intro-container
{
  width: 80%;
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.intro-header
{
  text-align: justify;
  line-height: 1;
  font-weight: 400;
  font-size: 38px;
}

.intro-big
{
  font-size: 64px;
  font-weight: 1000;
}

.intro-paragraph
{
  text-align: left;
  line-height: 1.6;
  color:gray
}

.works-section
{
  width: 100%;
}

.section-title
{
  font-family: monospace;
  color: gray;
  font-size: 32px;
  font-weight: bold;
  border-bottom: 1px solid gray;
  padding-bottom: 8px;
}

.link
{
  text-decoration: none;
  color: inherit;
  font-weight: bold;
}

.link:hover
{
  text-decoration: underline;
}

@media screen and (max-width: 960px)
{
  .main-container
  {
    justify-content: center;
    padding: 0 16px;
    flex-direction: column;
  }
  .info-container
  {
    position: static;
    max-width: 100%;
    height: max-content;
    background-color: #000F0F;
  }
  
  .navigation-container
  {
    display: none;
  }

  .contact-container
  {
    position: static;
    /* margin-top: 160px; */
    padding: 0;
    padding-top: 32px;
  }

  .works-container
  {
    position: static;
    width:fit-content;
    overflow: hidden;
    margin:0;
  }

  .works-card
  {
    width: 100%;
    max-width: 100%;
  }
}